In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('telecom_zipcode_population.csv')
df

      Zip Code  Population
0        90001       54492
1        90002       44586
2        90003       58198
3        90004       67852
4        90005       43019
...        ...         ...
1666     96145        4002
1667     96146         942
1668     96148         678
1669     96150       33038
1670     96161       15783

[1671 rows x 2 columns]

In [3]:
df.isnull().sum()

Zip Code      0
Population    0
dtype: int64